html,
body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: system-ui, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.shopify_center {
  width: 70%;
  margin: auto !important;
  margin-top: 5% !important;
}

.hidden {
  display: none !important;
}
